.settings-menu {
  margin: 0px 5px;
}
.settings-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.settings-item__title {
  margin-left: 20px;
}
.settings-item__badge {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #ff6229;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 10px;
}
.settings-item__value {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.4);
}
